{% extends "base_generic.html" %}
{% load static %}


{% block title %}<title>About</title>{% endblock title %}

{% block content %}
    <h1><strong>Version 2.0</strong></h1>
    <img src="{% static "workant.jpg" %}" alt="Work All Day" /> <br>
        - Dynamic links! <br>
        - Linked in Database Properly <br>
        - Added basic bootstrap functionality (Sidebar) <br>
        - Converted views over to use a generic view and extend said  view<br>
        - Can now view KBS Documents as they are added in the admin view<br><br>  
        
{% endblock content %}

