{% extends "base_generic.html" %}
{% block content %}

<h3>Please Enter your associated email and press reset password </h3>
<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p> 
    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
</form>

<h1><strong>Password Resets aren't finished</strong></h1>
<h3>Please email <strong>Garrett_Breeden@partech</strong> to request a password reset</h3>


Note: The password reset system requires that your website supports email, which is beyond the scope of this article, so this part won't work yet. <br>
To allow testing, put the following line at the end of your settings.py file. This logs any emails sent to the console (so you can copy the password reset link from the console). <br> <br>

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend' <br>

<a href="https://docs.djangoproject.com/en/1.10/topics/email/"><strong>DETAILS ON SENDING EMAILS</strong></a>


{% endblock %}