{% extends "base_generic.html" %}

{% block title %}<title>{{ document.title }}</title> {% endblock title %}

{% block content %}
	<h1>{{ document.title }}</h1>
	<p><strong>Software: </strong>{{ document.software_product }}</p>
	<p><strong>Publisher: </strong>{{ document.publisher }}</p>
	<p><strong>Last Modified:</strong>{{ document.date_modified }}</p>

	<p><strong>Document Details: </strong><br>{{ document.body }}</p><br>

	<p><strong>Total Views: </strong>{{ document.views }}</p><br>
{% endblock content %}
