{% load static %}

<html>

    <head>
        <title>KBS Viewer</title>
    </head>

    <body>
        <h1>Welcome to the new KBS Website Version 1.3</h1>
        <ul><strong>{{ boldmessage }}</strong><br><br/> </ul>

        <h3>Select an uploaded Document below for further details</h3>
        {% if documents %}
        	<ul>

        		{% for document in documents %}
        			<li> {{ document.title }} </li>
        		{% endfor %}
        	</ul>
        {% else %}
        	<strong>There are no uploaded documents</strong>
        {% endif %}

        <h3><a href="/kbs_view/documents">View all Documents</a><br /></h3>

        <a href="/kbs_view/about/">Details About KBS Viewer</a><br />
        <img src="{% static "ant.jpg" %}" alt="Lord of Ants" /> <!-- New Line -->
    </body>

</html>